@using Blazonia.Components;
@page "/pengyouquan"

@inject INavigation Navigation;
<Border Background="@("#ffffff")">
    <StackPanel>
        <Button OnClick="OnBackButtonClick">返回</Button>
    </StackPanel>
</Border>

@code {
    void OnBackButtonClick()
    {
        Navigation.PopAsync();
    }
}
