@using Avalonia.Interactivity
@using Avalonia.Layout



<Border Theme="@("CardBorder")">
    <StackPanel HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
        <Label FontSize="20" HorizontalAlignment="HorizontalAlignment.Center">发现</Label>
    </StackPanel>
</Border>

@code {

}